@mixin centrar-row{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@mixin centrar-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@mixin padding-portadas{
    padding-top:10em;
    padding-bottom: 5em;
}