    .portada__producto-especifico{
        @include padding-portadas;
        .producto-especifico__conteiner{
            padding-top: 1em;
            height: 100%;
            width: 100%;
            @include centrar-column;
            gap: 20px;
            .producto-especifico__img{
                height: 100%;
                width: 95%;
                .producto-especifico-pic{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    gap: 5px;
                    .img__producto{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
            .especificaciones{
                height: 100%;
                width: 85%;
                @include centrar-column;
                gap: .5em;
                .nombre__prenda{
                    .prenda__titulo{
                        font-size: 3em;
                        font-weight: 600;
                    }
                }
                .prenda_price{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    .price{
                        width: 100%;
                        height: 80px;
                        color:#000;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                        .str__prince{
                            font-size: 2.5em;
                            font-weight: 600;
                        }
                    }
                }
                .cuotas__prenda{
                    width: 70%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    .img__credito{
                        height: 30px;
                        width: 30px;
                    }
                    .txt__prenda{
                        .str__prenda{
                            color: $color-header-secundario;
                        }
                    }

                }
                .oferta__prenda{
                    width: 70%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    .img__dinero{
                        height: 25px;
                        width: 25px;
                    }
                    .txt__prenda{
                        .str__prenda{
                            color: $color-header-secundario;
                        }
                    }

                }
            }
            .input__prenda{
                display: flex;
                flex-direction: column;
                justify-content:center;
                align-items: center;
                gap: 10px;
                .input__color{
                    .form__color{
                        display: flex;
                        flex-direction: column;
                        justify-content:center;
                        align-items: center;
                        gap: 5px;
                        .label__color{
                            font-size: 1em;
                            font-weight: 600;
                        }
                        .select__color{
                            padding: 5px 40px;
                            background-color:#fff;
                            border-radius: 20px;
                            border: 2px solid $color-header-secundario;
                        }
                    }
                }
                .input__talle{
                    .form__talle{
                        display: flex;
                        flex-direction: column;
                        justify-content:center;
                        align-items: center;
                        gap: 5px;
                        .label__talle{
                            font-size: 1em;
                            font-weight: 600;
                        }
                        .select__talle{
                            padding: 5px 55px;
                            background-color:#fff;
                            border-radius: 20px;
                            border: 2px solid $color-header-secundario;
                        }
                    }
                }
            }
            .input__cantidad-prenda{
                .form__cantidad{
                    display: flex;
                    flex-direction: column;
                    justify-content:center;
                    align-items: center;
                    gap: 5px;
                    .label__cantidad{
                        font-size: 1em;
                        font-weight: 600;
                    }
                    .input__cantidad{
                        display: flex;
                        justify-content: center;
                        width: 75%;
                        display: flex;
                        justify-content: center;
                        padding: 5px 55px;
                        background-color:#fff;
                        border-radius: 20px;
                        border: 2px solid $color-header-secundario;
                        outline:0;
                    }
                }
            }
            .agregar__carrito{
                padding-top:1em;
                .agregar__carrito-form{
                    .agregar__carrito-btn{
                        color: $color-header-secundario;
                        font-size: 1em;
                        font-weight: 600;
                        padding: 10px 40px;
                        background-color: #fff;
                        border-radius: 20px;
                        border: 2px solid $color-header-secundario;
                    }
                    .agregar__carrito-btn:hover{
                        background-color: $color-header-secundario;
                        color: #fff;
                    }
                }
            }
            .descripcion__prenda{
                    .txt__descripcion{
                    padding-top: 1.5em;
                    font-size: 1em;
                    font-weight: 600;
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }
    }
    .otros__productos{
        padding: 2em;
        .otros__conteiner{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .otros__tittle{
                width: 90%;
                @include centrar-row;
                font-size: 2.5em;
                font-weight: 600;
            }
        }
        .mas__productos{
            padding: 1.5em 0 1.5em 0;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill , minmax(200px , auto));
            grid-template-rows: repeat(auto-fill , minmax(200px , auto));
            grid-gap:10px;
            .clothes__items{
                border: 1px solid $color-border-cards;
                border-radius: 10px;
                position: relative;
                padding: 5px;
                .clothes__pic{
                    .clothes__img{
                        border-radius: 10px;
                        width: 100%;
                        height: 250px;
                        object-fit: cover;
                    }
                    .clothes__a{
                        text-decoration: none;
                        @include centrar-row;
                        height: 30px;
                        width: 80px;
                        font-weight: 600;
                        color: #fff;
                        border: #fff 1px solid;
                        border-radius: 20px;
                        background-color: #ffb3c100;
                        position: absolute;
                        left: 50%;
                        top: 55%;
                        transform: translate(-50%,-55%);
                    }
                    .clothes__a:hover{
                        background-color: $color-header-secundario;
                    }
                }
                .clothes__description{
                    @include centrar-column;
                    .clothes__description-tittle{
                        padding-left: 10px;
                        font-size: 1em;
                        color: #000000;
                        font-weight: 100;
                        display: flex;
                        flex-wrap: wrap;
                    }
                    .clothes__description-price{
                        color: $color-precio;
                        font-size: 1.5em;
                        font-weight: 600;
                    }
                    .clothes__description-offer{
                        padding: 5px;
                    }
                }
            }
        }
    }

@media (min-width:768px) {
    .portada__producto-especifico{
        .producto-especifico__conteiner{
            flex-direction: row;
            align-items: flex-start;
            .producto-especifico__img{
                width: 50%;
            }
            .especificaciones{
                height: 100%;
                width: 40%;
                align-items: flex-start;
                .prenda_price{
                    .price{
                        justify-content: flex-start;
                    }
                }
                .cuotas__prenda{
                    justify-content: flex-start;
                }
                .oferta__prenda{
                    justify-content: flex-start;
                    .txt__prenda{
                        flex-wrap: wrap;
                    }
                }
                .input__prenda{
                    flex-direction: row;
                }
            }
        }
    }
}