.conteiner__quienes-somos{
    @include padding-portadas;
    .conteiner-tittle{
      display: flex;
      justify-content: center;
      align-items: center;
      .tittle__clauvana{
        padding-inline: .5em .5em;
        padding-bottom: 30px;
        font-size: 3em;
        font-weight: 600;
        @include centrar-row;
        width: 70%;
      }
    }  
    .historia{
      .historia__clauvana{
        padding: 0 20px;
        font-size: .5em;
        color:#000;
        font-weight: 100;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        }
      .agradecimiento__clauvana{
        padding-top: 10px;
        padding-left: 20px;
        font-size: 1.2em;
        font-weight: 600;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        } 
    }
}